{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Auth Store",
    "description": "API de exemplo para demonstração de autenticação e obtenção de tokens.",
    "license": {
      "name": "Allcom Telecom"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apicorp.algartelecom.com.br/telecom/product-Inventory-management/management/v1"
    }
  ],
  "security": [],
  "paths": {
    "/oauth-portal/access-token": {
      "servers": [
        {
          "url": "https://apicorp.algartelecom.com.br/oauth-portal",
          "description": "Servidor de autenticação para rota de token"
        }
      ],
      "post": {
        "description": "Executa a criação de um token de acesso. Copie e cole os valores padrões (default) nos respectivos campos antes de executar a requisição.",
        "requestBody": {
          "description": "Informações necessárias para criar o token.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  }
                },
                "required": ["client_id", "client_secret"]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "Basic MzQ4OSozNDMyLTMOMzItMTIz"
            }
          },
          {
            "name": "username",
            "in": "header",
            "required": true,
            "description": "Username recebido por email.",
            "schema": {
              "type": "string",
              "example": "usuario@example.com"
            }
          },
          {
            "name": "password",
            "in": "header",
            "required": true,
            "description": "Senha de acesso recebida por email.",
            "schema": {
              "type": "string",
              "example": "senha123"
            }
          },
          {
            "name": "realm",
            "in": "header",
            "required": true,
            "description": "Domínio de autenticação do Keycloak.\n\n🔹 **Valor padrão:**\n```\n0d5a3954\n```\n📌 **Dica:** Copie e cole esse valor no campo realm.",
            "schema": {
              "type": "string",
              "example": "algar-telecom",
              "default": "0d5a3954"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Token criado com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "Token de acesso gerado."
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Tipo do token gerado."
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Tempo de expiração do token em segundos."
                    }
                  }
                },
                "example": {
                  "access_token": "string",
                  "token_type": "string",
                  "expires_in": 0
                }
              }
            }
          },
          "400": {
            "description": "Erro inesperado ao criar token.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro."
                    }
                  }
                },
                "example": {
                  "error": "Invalid credentials"
                }
              }
            }
          },
          "401": {
            "description": "Não autorizado. Credenciais inválidas ou token expirado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Descrição do erro."
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized: Invalid token or expired session"
                }
              }
            }
          }
        }
      }
    },
    "/broker/{customerId}/invoices": {
      "get": {
        "description": "Listar as faturas das contas virtuais / Buscar os detalhes da fatura do MoT.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "Identificador do cliente.",
            "schema": {
              "type": "string",
              "example": "123654"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status da fatura.",
            "schema": {
              "type": "string",
              "example": "status"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Data inicial.",
            "schema": {
              "type": "string",
              "example": "YYYYmmdd"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Data final.",
            "schema": {
              "type": "string",
              "example": "YYYYmmdd"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "description": "Unidade que deseja retorno, se não infomrado por default MB",
            "schema": {
              "type": "string",
              "example": "MB",
              "default": " B, MB, K, GB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quantityInvoices": {
                      "type": "integer",
                      "description": "Quantidade de faturas."
                    },
                    "listaFaturasVirtuais": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "invoiceId": {
                            "type": "integer",
                            "description": "Identificador da fatura."
                          },
                          "startDate": {
                            "type": "string",
                            "description": "Data de início."
                          },
                          "endDate": {
                            "type": "string",
                            "description": "Data de fim."
                          },
                          "dueDate": {
                            "type": "string",
                            "description": "Data de vencimento."
                          },
                          "totalTraffic": {
                            "type": "integer",
                            "description": "Tráfego total."
                          },
                          "invoiceAmount": {
                            "type": "integer",
                            "description": "Valor da fatura."
                          },
                          "terminals": {
                            "type": "integer",
                            "description": "Terminais."
                          },
                          "useTerminals": {
                            "type": "integer",
                            "description": "Uso de terminais."
                          },
                          "subInvoiceQuantity": {
                            "type": "integer",
                            "description": "Quantidade de subfaturas."
                          },
                          "idStatusInvoice": {
                            "type": "string",
                            "description": "Identificador do status da fatura."
                          },
                          "synchronized": {
                            "type": "boolean",
                            "description": "Se está sincronizado."
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "quantityInvoices": 1,
                  "listaFaturasVirtuais": [
                    {
                      "invoiceId": 6,
                      "startDate": "01-09-2021",
                      "endDate": "30-09-2021",
                      "dueDate": "11-10-2021",
                      "totalTraffic": 0,
                      "invoiceAmount": 0,
                      "terminals": 0,
                      "useTerminals": 0,
                      "subInvoiceQuantity": 0,
                      "idStatusInvoice": "C",
                      "synchronized": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexistente para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/devices": {
      "get": {
        "description": "Retornar a lista de dispositivos de um cliente MoT. A lista em questão está paginada com filtros. (Possui dados sensíveis).",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Página",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "linesPerPage",
            "in": "query",
            "required": true,
            "description": "Tamanho da página",
            "schema": {
              "type": "integer",
              "example": 30
            }
          },
          {
            "name": "showContracted",
            "in": "query",
            "description": "Mostrar contrato",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Listagem de dispositivos retornada com sucesso.",
            "content": {
              "application/json": {
                "example": {
                  "devices": [
                    {
                      "id": 12548965,
                      "plan": "IOT MONITORAMENTO - TODAS OPERADORAS - 5 MBYTES",
                      "idVirtualAccount": 888888,
                      "activationDate": "2019-03-28T00:00:19.928Z",
                      "activationPrice": 10.0,
                      "automaticBlocking": "string",
                      "blockedByDefault": null,
                      "brokerContractDesc": "EXEMPLO 50MB INDIVIDUAL",
                      "brokerContractId": 77777,
                      "cancellationDate": "2024-12-30T17:39:32.727Z",
                      "contractAssetNumber": "A118430431",
                      "customerDocumentNumber": "45632199000109",
                      "customerId": "string",
                      "customerName": "Empresa X",
                      "parentName": "EXEMPLO COMUNICAÇÕES LTDA",
                      "parentDocumentNumber": "98765432000188",
                      "franchising": 5,
                      "iccid": "11113202000000449000",
                      "imeiLocked": true,
                      "imsi": "1111120200044773",
                      "lastStatusUpdate": "2024-12-30T17:39:32.727Z",
                      "lastUpdate": "2024-12-30T17:39:32.727Z",
                      "loyaltyType": 1,
                      "mbExcPrice": 2.0,
                      "msisdn": "5510000004818",
                      "networkBlockEndDate": "2024-12-30T17:39:32.727Z",
                      "networkBlockStartDate": "2024-12-30T17:39:32.727Z",
                      "networkBlockStatus": "NONE",
                      "nickname": "apelido",
                      "observation": "string",
                      "operator": "ALGAR TELECOM",
                      "penalty": null,
                      "preActivationDays": 15,
                      "preActivationEnd": "2025-04-01T03:00:00.000+00:00",
                      "price": 5.0,
                      "sharedCredit": null,
                      "sharedFranchise": "10",
                      "sharingType": "SHARED",
                      "simcardCredit": 50,
                      "status": "ACTIVE",
                      "subOperator": "ALGAR",
                      "eligibleToSuspension": false,
                      "suspensionEndDate": "2024-12-30T17:39:32.727Z",
                      "suspensionStartDate": "2024-12-30T17:39:32.727Z",
                      "tradeInMonth": null,
                      "apn": "apn.teste.br",
                      "imei": "05789654854859",
                      "rat": "2G",
                      "hostname": "99.999.999.99",
                      "locationInfo": "string",
                      "lastConnection": "2021-06-07T02:17:13.000Z",
                      "online": false,
                      "connOperator": "ALGAR",
                      "latitude": "-5.489552",
                      "longitude": "-47.45366",
                      "city": "Uberlandia",
                      "state": "Minas Gerais",
                      "zipCode": "38414158",
                      "consumptionPercent": "string",
                      "consumptionValidated": "string",
                      "consumptionCurrentDay": "string",
                      "consumption": "string",
                      "assetParentIot": "A5698745654",
                      "acronym": "IOT_MULTICONECT_M2M",
                      "accountCredit": 0,
                      "isSuspendable": "false",
                      "suspensionInitialDate": "2024-12-30T17:39:32.727Z",
                      "suspensionFinalDate": "2024-12-30T17:39:32.727Z",
                      "logicNumber": "99999",
                      "blockingType": "string",
                      "blockingInitialDate": "string",
                      "blockingFinalDate": "string",
                      "cpfCnpj": "45632199000109",
                      "roaming": null,
                      "lastAlertDateFrom": null,
                      "planType": "PREPAID",
                      "ggsn": "exemplo-ggsn",
                      "nuRenewals": 3,
                      "deviceNumber": "GPRFB71D"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "500": {
            "description": "Erro Interno do servidor."
          }
        }
      }
    },
    "/broker/devices/quantity": {
      "get": {
        "description": "Busca a quantidade de dispositivos do cliente.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "Status do dispositivo.\n\n🔹 **Valores permitidos:**\n- **ACTIVE**: Dispositivo ativo\n- **CANCELED**: Dispositivo cancelado\n- **SUSPENDED**: Dispositivo suspenso",
            "schema": {
              "type": "string",
              "enum": ["ACTIVE", "CANCELED", "SUSPENDED", "TRADE_IN"],
              "example": "ACTIVE"
            }
          },
          {
            "name": "operator",
            "in": "query",
            "required": true,
            "description": "Operadora.",
            "schema": {
              "type": "string",
              "example": "operator"
            }
          },
          {
            "name": "connectedOperator",
            "in": "query",
            "required": true,
            "description": "Operadora conectada.",
            "schema": {
              "type": "string",
              "example": "connectedOperator"
            }
          },
          {
            "name": "showContracted",
            "in": "query",
            "description": "Visões dos dispositivos.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "activationDateFrom",
            "in": "query",
            "description": "Data de ativação inicial.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "name": "activationDateTo",
            "in": "query",
            "description": "Data de ativação final.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-12-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações do dispositivo encontradas com sucesso.",
            "content": {
              "application/json": {
                "example": {
                  "quantity": 100
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexistente para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/broker/imei-lock": {
      "get": {
        "summary": "Busca as ações de bloqueio de IMEI",
        "description": "Retorna uma lista paginada das ações de bloqueio de IMEI com base nos filtros fornecidos.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Página",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "Tamanho da página",
            "schema": {
              "type": "integer",
              "example": 30
            }
          },
          {
            "name": "msisdn",
            "in": "query",
            "description": "Número do MSISDNS do dispositivo",
            "schema": {
              "type": "string",
              "example": "5534991026676"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status da ação",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Usuário que criou a ação",
            "schema": {
              "type": "string",
              "example": "teste.com"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Data início da criação da ação",
            "schema": {
              "type": "string",
              "example": "YYYYMMDD"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Data final da criação da ação",
            "schema": {
              "type": "string",
              "example": "YYYYMMDD"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Identificador do cliente",
            "schema": {
              "type": "number",
              "example": 546454
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações do dispositivo encontradas com sucesso.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "createdAt": "2021-03-10 09:11:42",
                    "customerId": 12586,
                    "iccid": "19440266",
                    "imsi": "546545646546546",
                    "msisdn": "034965655897",
                    "processingDate": "",
                    "statusCode": 0,
                    "statusMessage": "Processo finalizado com sucesso",
                    "processData": "2018-12-01 14:00:00",
                    "actionType": "RESET HLR ou RESET OTA ou SUSPENSÃO PROVISORIA",
                    "createdBy": "teste@gmail.com"
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor."
          }
        }
      },
      "post": {
        "summary": "Realiza o bloqueio de IMEI",
        "description": "Permite criar um bloqueio de IMEI com os dados fornecidos no corpo da requisição.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],
        "requestBody": {
          "description": "Informações dos dispositivos a serem bloqueados.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "devices": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "msisdn": {
                          "type": "string",
                          "description": "Número do MSISDNS do dispositivo.",
                          "example": "5534991025544"
                        },
                        "iccid": {
                          "type": "string",
                          "description": "Identificador ICCID do dispositivo.",
                          "example": "9485349328492"
                        },
                        "imei": {
                          "type": "string",
                          "description": "IMEI do dispositivo.",
                          "example": "7678"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "devices": [
                  {
                    "msisdn": "5534991025544",
                    "iccid": "9485349328492",
                    "imei": "7678"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bloqueio realizado com sucesso.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bloqueio realizado com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "500": {
            "description": "Erro interno do servidor.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/broker/imei-unlock": {
      "get": {
        "description": "Busca as ações de desbloqueio de IMEI.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "description": "Página",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "Tamanho da página",
            "schema": {
              "type": "integer",
              "example": 30
            }
          },
          {
            "name": "msisdn",
            "in": "query",
            "description": "Número do MSISDNS do dispositivo",
            "schema": {
              "type": "string",
              "example": "5534991026676"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações de desbloqueio encontradas com sucesso.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "createdAt": "2021-03-10 09:11:42",
                    "customerId": 12586,
                    "msisdn": "5534991026676",
                    "statusCode": 0,
                    "statusMessage": "Desbloqueio realizado com sucesso"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "500": {
            "description": "Erro interno do servidor."
          }
        }
      },
      "post": {
        "description": "Realiza o desbloqueio de IMEI.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],
        "requestBody": {
          "description": "Informações dos dispositivos a serem desbloqueados.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "devices": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "msisdn": {
                          "type": "string",
                          "description": "Número do MSISDNS do dispositivo.",
                          "example": "5534991025544"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "devices": [
                  {
                    "msisdn": "5534991025544"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Desbloqueio realizado com sucesso.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Desbloqueio realizado com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "500": {
            "description": "Erro interno do servidor.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Internal server error"
                }
              }
            }
          }
        }
      }
    },
    "/broker/unlock-network": {
      "get": {
        "description": "Busca as ações de desbloqueio de rede.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página.",
            "schema": {
              "type": "integer",
              "example": 30
            }
          },
          {
            "name": "msisdn",
            "in": "query",
            "description": "Número do MSISDNS.",
            "schema": {
              "type": "string",
              "example": "5534991023333"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de ações de desbloqueio de rede retornada com sucesso.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "msisdn": "5534991023333",
                    "actionType": "UNLOCK_NETWORK",
                    "status": "COMPLETED",
                    "createdBy": "admin",
                    "createdAt": "2024-01-01 12:00:00"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Solicita o desbloqueio de rede.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],
        "requestBody": {
          "description": "Informações do desbloqueio de rede.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msisdn": {
                    "type": "string",
                    "description": "Número do MSISDNS a ser desbloqueado.",
                    "example": "5534991023333"
                  },
                  "dateUnlock": {
                    "type": "string",
                    "description": "Data do desbloqueio.",
                    "example": "2024-10-01"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solicitação de desbloqueio processada com sucesso.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Desbloqueio solicitado com sucesso."
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Invalid parameters"
                }
              }
            }
          }
        }
      }
    },
    "/broker/block-network": {
      "get": {
        "summary": "Busca as ações de bloqueio de rede",
        "description": "Busca as ações de bloqueio de rede (via radius).",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",

            "required": true,
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "description": "Token gerado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 30
            }
          },
          {
            "name": "msisdn",
            "in": "query",
            "description": "Número do MSISDNS do dispositivo",
            "schema": {
              "type": "string",
              "example": "5534991026676"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status da ação",
            "schema": {
              "type": "integer",
              "example": 0
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "description": "Usuário que criou a ação",
            "schema": {
              "type": "string",
              "example": "teste.com"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Data início da criação da ação",
            "schema": {
              "type": "string",
              "example": "YYYYMMDD"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Data final da criação da ação",
            "schema": {
              "type": "string",
              "example": "YYYYMMDD"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso na busca.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "createdAt": "2021-03-10 09:11:42",
                    "customerId": 12586,
                    "msisdn": "034965655897",
                    "statusCode": 0,
                    "statusMessage": "Processo finalizado com sucesso"
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Solicita o bloqueio de rede",
        "description": "Solicita o bloqueio de rede (via radius).",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",

            "required": true,
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "description": "Token gerado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],
        "requestBody": {
          "description": "Informações do dispositivo a ser bloqueado.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msisdn": {
                    "type": "string",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "5534991023333"
                  },
                  "typeBlockUnlock": {
                    "type": "integer",
                    "description": "Tipo de bloqueio/desbloqueio.",
                    "example": 1
                  },
                  "dateStartBlock": {
                    "type": "string",
                    "description": "Data de início do bloqueio.",
                    "example": "20240101"
                  },
                  "dateEndBlock": {
                    "type": "string",
                    "description": "Data de fim do bloqueio.",
                    "example": "20240120"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bloqueio realizado com sucesso.",
            "content": {
              "application/json": {
                "example": {
                  "message": "Bloqueio realizado com sucesso"
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/reset-network": {
      "get": {
        "description": "Listar as faturas das contas virtuais / Buscar os detalhes da fatura do MoT.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": true,
            "description": "Usuário que criou a ação",
            "schema": {
              "type": "string",
              "example": "teste.user"
            }
          },
          {
            "name": "statusCode",
            "in": "query",
            "required": true,
            "description": "Status da ação",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "startDateCreated",
            "in": "query",
            "description": "Data inicio da criaçao da ação",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "name": "endDateCreated",
            "in": "query",
            "description": "Data fim da criacao da ação",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-12-31"
            }
          },
          {
            "name": "operationProtocol",
            "in": "query",
            "required": true,
            "description": "Protocolo da operação",
            "schema": {
              "type": "string",
              "example": "213132132"
            }
          },
          {
            "name": "msisdn",
            "in": "query",
            "required": true,
            "description": "Msisdn",
            "schema": {
              "type": "string",
              "example": "213132132"
            }
          },
          {
            "name": "operationProtocolo",
            "in": "query",
            "required": true,
            "description": "Protocolo da integração",
            "schema": {
              "type": "string",
              "example": "326598-8"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página para paginação.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página para paginação.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24,
              "example": 24
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações do dispositivo encontradas com sucesso.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "createdAt": "2021-03-10 09:11:42",
                    "customerId": 12586,
                    "iccid": "19440266",
                    "imsi": "5465565456465456",
                    "msisdn": "0349665655897",
                    "processingDate": "",
                    "statusCode": 0,
                    "statusMessage": "Processo finalizado com sucesso ",
                    "processData": "2018-12-01 14:00:00",
                    "actionType": "RESET HLR ou RESET OTA ou SUSPENSÃO PROVISORIA",
                    "createdBy": "teste@gmail.com"
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor."
          }
        }
      },
      "post": {
        "summary": "Solicita o reset de Rede",
        "description": "Solicita o bloqueio de rede (via radius).",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",

            "required": true,
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "description": "Token gerado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],
        "requestBody": {
          "description": "Informações do dispositivo a receber o reset.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msisdns": {
                    "type": "array",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "5534991023333"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "207": {
            "description": "Error and sucess"
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado"
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro interno do servidor.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/actions/queue": {
      "get": {
        "description": "Recupera o status da fila de ações, retornando dados da última semana até o dia atual. Para consultar um período diferente, utilize os parâmetros `startDate` e `endDate`",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "createdBy",
            "in": "query",
            "required": true,
            "description": "Usuário que criou a ação",
            "schema": {
              "type": "string",
              "example": "teste.user"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "description": "Status da ação",
            "schema": {
              "type": "string",
              "example": "0"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Data inicio da criaçao da ação",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Data fim da criacao da ação",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2022-12-31"
            }
          },
          {
            "name": "operationProtocol",
            "in": "query",
            "required": true,
            "description": "Protocolo da operação",
            "schema": {
              "type": "string",
              "example": "213132132"
            }
          },
          {
            "name": "msisdn",
            "in": "query",
            "required": true,
            "description": "Msisdn",
            "schema": {
              "type": "string",
              "example": "213132132"
            }
          },
          {
            "name": "statusAutoServices",
            "in": "query",
            "required": true,
            "description": "Status do auto serviço",
            "schema": {
              "type": "string",
              "example": "326598-8"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "required": true,
            "description": "Identificador do Cliente",
            "schema": {
              "type": "number",
              "example": "65456456"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página para paginação.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página para paginação.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24,
              "example": 24
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "ID da ação.\n\n🔹 **Detalhes:** O identificador pode ser obtido na API `/actions`, utilizando o parâmetro `actionType`",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 65456456,
              "example": 65456456
            }
          },
          {
            "name": "contract",
            "in": "query",
            "required": true,
            "description": "Contrato",
            "schema": {
              "type": "string",
              "example": "contract"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações do dispositivo encontradas com sucesso.",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": 897654,
                    "actionType": 49,
                    "createdAt": "2021-03-10 09:11:42",
                    "contractId": "6545656",
                    "iccId": "19440266",
                    "imsi": "5465565456465456",
                    "msisdn": "0349665655897",
                    "customer": {
                      "id": 65454546,
                      "name": "Teste cliente",
                      "documentNumber": "20325698000178"
                    },
                    "customerId": 12586,
                    "processingDate": "",
                    "processed": 0,
                    "processedLog": "Processo finalizado com sucesso ",
                    "protocol": "20325687978-7",
                    "createdDate": "2025-01-29T13:18:11.000+00:00",
                    "createdBy": "teste@gmail.com",
                    "vendor": "TIM",
                    "retry": 1,
                    "customerDest": "string",
                    "customerIdDest": 5456454,
                    "virtualAccountDest": {
                      "id": 65454546,
                      "name": "Pedido Teste"
                    },
                    "virtualAccountIdDest": 654545,
                    "virtualContractDest": {
                      "id": 65454546,
                      "planDesc": "Contrato Teste"
                    }
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor."
          }
        }
      }
    },
    "/broker/bait-renewal": {
      "post": {
        "summary": "Solicita a renovação de ISCA",
        "description": "Solicita a renovação de ISCA (processo envia a lista de Simcards para o MS procesar as renovações).",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",

            "required": true,
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "description": "Token gerado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],
        "requestBody": {
          "description": "Informações do dispositivo a receber o reset.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msisdn": {
                    "type": "string",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "5534991025544"
                  },
                  "iccid": {
                    "type": "string",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "9485349328492"
                  },
                  "imei": {
                    "type": "string",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "7678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "207": {
            "description": "Error and sucess"
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado"
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro interno do servidor.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/franchise-renewal": {
      "post": {
        "summary": "Solicita a renovação do plano fraqnuia",
        "description": "Solicita a aprovação do plano franquia (processo envia a lista de Simcards para o MS procesar as renovações).",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",

            "required": true,
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "description": "Token gerado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],
        "requestBody": {
          "description": "Informações do dispositivo a receber o reset.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "msisdn": {
                    "type": "string",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "5534991025544"
                  },
                  "iccid": {
                    "type": "string",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "9485349328492"
                  },
                  "imei": {
                    "type": "string",
                    "description": "Número do MSISDNS do dispositivo.",
                    "example": "7678"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "207": {
            "description": "Error and sucess"
          },
          "400": {
            "description": "Requisição mal formatada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado"
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro interno do servidor.",
            "content": {
              "application/json": {
                "example": {
                  "error": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/invoices/report/detailed": {
      "post": {
        "summary": "Solicitação para a geração do relatório detalhado de uma fatura",
        "description": "Solicitação para a geração do relatório detalhado de uma fatura",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "description": "Identificador do client id do sensedia",
            "required": true,
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "description": "Token gerado.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          }
        ],

        "requestBody": {
          "description": "Informações para formar a solicitação do relatório.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "teste@gmail.com"
                  },
                  "locale": {
                    "type": "string",
                    "example": "pt"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "id": 1234,
                  "message": "Request created successfully! An email will be sent to: {email }with the download link."
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação.",
            "content": {
              "application/json": {
                "example": "Requisição requer autenticação."
              }
            }
          },
          "403": {
            "description": "O acesso ao recurso foi negado.",
            "content": {
              "application/json": {
                "example": "O acesso ao recurso foi negado."
              }
            }
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento.",
            "content": {
              "application/json": {
                "example": "URI de API/Recurso inexiste para processamento."
              }
            }
          },
          "500": {
            "description": "Erro Interno do servidor.",
            "content": {
              "application/json": {
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/plans": {
      "get": {
        "description": "Lista todos os contratos de um cliente MoT",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },

          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Identificador do plano",
            "schema": {
              "type": "number",
              "example": "id"
            }
          },
          {
            "name": "planDesc",
            "in": "query",
            "required": false,
            "description": "Descrição do plano",
            "schema": {
              "type": "string",
              "example": "planDesc"
            }
          },
          {
            "name": "lastAlertDateFrom",
            "in": "query",
            "description": "Filtro de alerta de consumo",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "lastAlertDateFrom"
            }
          },
          {
            "name": "showContracted",
            "in": "query",
            "description": "Contratos a pagar e a receber",
            "schema": {
              "type": "boolean",
              "example": " true (Contratos a pagar), false (Contrato a receber)"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Unidade que deseja retorno",
            "schema": {
              "type": "string",
              "example": "MB",
              "default": "MB, B, KB, GB"
            }
          },

          {
            "name": "page",
            "in": "query",
            "description": "Número da página para paginação.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página para paginação.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24,
              "example": 24
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": 784,
                    "customer": {
                      "id": 45645,
                      "name": "Cliente Teste",
                      "type": "CUSTOMER"
                    },
                    "planDesc": "Silver plan",
                    "franchise": 10,
                    "price": 5.99,
                    "operatorDiffChargeFlag": "T",
                    "payPerUseFlag": "T",
                    "sharingType": 1,
                    "sharedFranchise": 0,
                    "activationPrice": 2.01,
                    "megabyteExcPrice": 0,
                    "automaticBlocking": false,
                    "loyaltyType": 0,
                    "loyaltyTime": 1,
                    "penalty": "0",
                    "nbVirtualAccounts": 1,
                    "automaticRenewal": true,
                    "roaming": true,
                    "motOperators": [
                      {
                        "name": "TESTE OPERADORA",
                        "baseName": "BASE OPERADORA",
                        "idOperator": 1
                      }
                    ],
                    "planExpirationMonths": 12,
                    "planType": "ALLOWANCE",
                    "iscaDurationInDays": 0,
                    "iscaMaxRenewal": 0,
                    "chargeIscaOnTransfer": true,
                    "motOperatorId": 1,
                    "creditMB": 2,
                    "externalId": 64564564
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/order": {
      "get": {
        "description": "Busca um pedido (uma lista) para o cliente do MoT",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,

            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "costumerId",
            "in": "query",
            "required": false,
            "description": "Identificador do pedido",
            "schema": {
              "type": "integer",
              "example": "676543"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Identificador do plano",
            "schema": {
              "type": "number",
              "example": "id"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "Nome do pedido",
            "schema": {
              "type": "string",
              "example": "name"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Identifica se a consulta é de pedidos a pagar ou receber (pay ou receive)",
            "schema": {
              "type": "string",
              "example": "pay",
              "default": "pay"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status do pedido. Available values : ACTIVE, PROCESSING, ERROR, ERROR_SENDING_KAFKA, ARCHIVED",
            "schema": {
              "type": "string",
              "example": "status"
            }
          },
          {
            "name": "showContracted",
            "in": "query",
            "description": "Contratos a pagar e a receber",
            "schema": {
              "type": "boolean",
              "example": " true (Contratos a pagar), false (Contrato a receber)"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página para paginação.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página para paginação.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24,
              "example": 24
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Unidade que deseja retorno",
            "schema": {
              "type": "string",
              "example": "MB",
              "default": "MB, B, KB, GB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": [
                  {
                    "id": 442,
                    "name": "Teste Pedido",
                    "customer": {
                      "id": 567878,
                      "name": "TESTE CLIENTES"
                    },
                    "customerId": 10258,
                    "virtualContract": {
                      "id": 784,
                      "planDesc": "Silver plan",
                      "franchise": 10,
                      "operatorDiffChargeFlag": "T",
                      "payPerUseFlag": "T",
                      "sharingType": 1
                    },
                    "virtualPlanId": 3119,
                    "createdAt": "2021-11-09T18:06:35.000Z",
                    "cpfCnpj": "6357980698",
                    "status": "ACTIVE",
                    "value": "7.5",
                    "activationPrice": "4.5",
                    "createdBy": "teste@teste.com.br",
                    "megabyteExcPrice": "12",
                    "automaticBlocking": true,
                    "loyaltyType": 1,
                    "loyaltyTime": 12012021,
                    "penalty": "125,00",
                    "tradeInMonths": 2,
                    "preActivationExemptTraffic": 8,
                    "activationDate": "string",
                    "nbSimcards": 2,
                    "trackingNumbers": ["CODIGO_1,CODIGO_2,CODIGO_3"]
                  }
                ]
              }
            }
          },
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "errors": "No content"
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexiste para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/{customerId}/invoices/{invoiceId}": {
      "get": {
        "description": "Listar as faturas das contas virtuais / Buscar os detalhes da fatura do MoT.",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,
            "description": "Id do cliente",
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "Identificador do cliente.",
            "schema": {
              "type": "string",
              "example": "123654"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "description": "Identificador da fatura.",
            "schema": {
              "type": "string",
              "example": "123654"
            }
          },
          {
            "name": "unit",
            "in": "query",
            "required": false,
            "description": "Unidade que deseja retorno, se não infomrado por default MB",
            "schema": {
              "type": "string",
              "example": "MB",
              "default": " B, MB, K, GB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "quantityItens": 3,
                  "balanceData": {
                    "totalFranchise": 2257,
                    "totalConsumption": 235,
                    "consumptionFranchise": 2322,
                    "consumptionExceeded": "2",
                    "usagePackage": 8938730496,
                    "blConsumptionFranchise": 13019.5,
                    "dateConsumptionUpdate": "01-09-2021"
                  },
                  "invoiceData": {
                    "invoiceId": 6,
                    "startDate": "01-09-2021",
                    "endDate": "30-09-2021",
                    "dueDate": "11-10-2021",
                    "totalTraffic": 0,
                    "invoiceAmount": 0,
                    "terminals": 0,
                    "useTerminals": 0,
                    "subInvoiceQuantity": 0,
                    "idStatusInvoice": "C",
                    "synchronized": false
                  },
                  "itens": [
                    {
                      "id": 6,
                      "item": "Description",
                      "quantityItem": 2,
                      "unitaryValue": 23.25,
                      "totalValue": 32.56
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexistente para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/{customerId}/invoices/{invoiceId}/usage": {
      "get": {
        "description": "Faz uma busca pelo uso da rede de faturas do MoT",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,
            "description": "Id do cliente",
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
            "required": true,
            "description": "Token gerado.",
            "schema": {
              "type": "string",
              "example": "access_token"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "description": "Identificador do cliente.",
            "schema": {
              "type": "string",
              "example": "123654"
            }
          },
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "description": "Identificador da fatura.",
            "schema": {
              "type": "string",
              "example": "123654"
            }
          },
          {
            "name": "subInvoiceId",
            "in": "query",
            "required": false,
            "description": "id da SubFatura (nivel Account)",
            "schema": {
              "type": "number",
              "example": "subInvoiceId"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página para paginação.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "example": 0
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Tamanho da página para paginação.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 24,
              "example": 24
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "example": {
                  "totalItens": 2,
                  "totalPages": 5,
                  "lastPage": 0,
                  "listaItens": [
                    {
                      "msisdn": "34999991234",
                      "consumoTotal": 12.3
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Requisição mal formada.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          },
          "401": {
            "description": "Requisição requer autenticação."
          },
          "403": {
            "description": "O acesso ao recurso foi negado."
          },
          "404": {
            "description": "URI de API/Recurso inexistente para processamento."
          },
          "500": {
            "description": "Erro Interno do servidor.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string",
                      "description": "Erro encontrado."
                    }
                  }
                },
                "example": {
                  "errors": "Parameter not found"
                }
              }
            }
          }
        }
      }
    },
    "/broker/{deviceId}/consumption/{virtualAccountId}": {
      "get": {
        "description": "Faz uma busca pelo consumo total (franquia)",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Define o formato da requisição.\n\n🔹 **Valor padrão:**\n```\napplication/json\n```\n📌 **Dica:** Copie e cole esse valor no campo Content-Type.",
            "schema": {
              "type": "string",
              "example": "application/json",
              "default": "application/json"
            }
          },
          {
            "name": "client_id",
            "in": "header",
            "required": true,
            "description": "Id do cliente",
            "schema": {
              "type": "string",
              "example": "client_id"
            }
          },
          {
            "name": "access_token",
            "in": "header",
[...]
